<div class="feedings">
  <h1>Pet Meals: Feeding</h1>
  <h2>More feedings.</h2>
  <div class="add">
    <.button phx-click{add}>Add Random Feeding</.button>
  </div>

  <ol>
    <%= for feeding <- @feedings do %>
      <li>
        {feeding.brand}
        {feeding.flavor}
        {feeding.portion}
      </li>
    <% end %>
  </ol>
</div>
