@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@layer components {

    /* Feedings */
  
    .feedings h1 {
      @apply text-xl font-extrabold;
    }

    .feedings ol {
      @apply list-decimal list-inside space-y-2 mt-4;
    }

    .options {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
    }
    
    .option {
      padding: 10px 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .option.selected {
      background-color: #4a9;
      color: white;
      border-color: #4a9;
    }
    
    .submit-btn {
      padding: 10px 20px;
      background-color: #4a9;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 30px;
    }

    .submit-btn:disabled {
      padding: 10px 20px;
      background-color: rgb(144, 169, 165);
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 30px;
    }

    .feedings .card {
      @apply bg-white rounded-2xl shadow-md overflow-hidden border border-gray-200 flex items-center justify-start text-left mb-2 gap-2;
    }

    .feedings .flavor {
      content: "🥩";
      @apply inline-block px-2 py-1 ml-2
    }

    .flavor[data-flavor="Chicken"] {
      content: "🍗";
    }

    .flavor[data-flavor="Beef"] {
      content: "🥩";
    }

    .flavor[data-flavor="Salmon"] {
      content: "🐟";
    }

    .feedings .card .brand-pill {
      @apply inline-block px-2 py-1 ml-2 rounded-full text-xs text-white;
    }
    
    .brand-pill[data-brand="Fancy Feast"] {
      @apply bg-purple-500;
    }
    
    .brand-pill[data-brand="Sheba"] {
      @apply bg-red-500;
    }
    
    .brand-pill[data-brand="Blue Buffalo"] {
      @apply bg-green-500;
    }
}